In [33]:
import pandas as pd
from sqlalchemy import create_engine

In [34]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/trip_data')
engine.connect()

In [35]:
df_iter_1 = pd.read_csv('green_tripdata_2019-10.csv',iterator=True, chunksize=100000)
df_1 = next(df_iter_1)
df_iter_2 = pd.read_csv('taxi_zone_lookup.csv',iterator=True)
df_2 = next(df_iter_2)

In [36]:
df_1

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

In [37]:
df_2

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [38]:
print(pd.io.sql.get_schema(df_1,name='green_trips'))
print(pd.io.sql.get_schema(df_2,name='taxi_zone'))

CREATE TABLE "green_trips" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)
CREATE TABLE "taxi_zone" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [39]:
df_1.head(0).to_sql(name='green_trips', con=engine, if_exists='replace')
df_2.head(0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

0

In [40]:
%time df_1.to_sql(name='green_trips', con=engine, if_exists='append')
%time df_2.to_sql(name='taxi_zone', con=engine, if_exists='append')

CPU times: total: 9.88 s
Wall time: 18.4 s
CPU times: total: 15.6 ms
Wall time: 135 ms

265

In [41]:
while True:
    t_start = time()
    df_1 = next(df_iter_1)
    df_1.lpep_pickup_datetime = pd.to_datetime(df_1.lpep_pickup_datetime)
    df_1.lpep_dropoff_datetime = pd.to_datetime(df_1.lpep_dropoff_datetime)
    df_1.to_sql(name='green_trips', con=engine, if_exists='append')
    t_end = time()
    print(f"inserted another chunk...... took {t_end - t_start}second")

inserted another chunk...... took 25.507972478866577second
inserted another chunk...... took 18.705069541931152second

C:\Users\Khaled\AppData\Local\Temp\ipykernel_16420\2728397544.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = next(df_iter_1)

inserted another chunk...... took 22.721111297607422second
inserted another chunk...... took 11.14189100265503second

StopIteration: